*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/misc.xml
/.idea/sonarIssues.xml
/.idea/dbnavigator.xml
/.idea/caches/build_file_checksums.ser
/.idea/codeStyles/Project.xml
/.idea/qaplug_profiles.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator
/.idea/profiles_settings.xml
